/*************************************@Customs Properties*********************************************/
:root {
  --black-color: #333;
  --withe-color: #ffffff;
  --withe-alpha-color: rgba(255, 255, 255, 0.5);
  --grey-withe-color: #f3f3f3;
  --text-color: var(--black-color);
  --theme-color: var(--black-color);
  --font-family: "Poppins", sans-serif;
  --max-width: 1280px;
  --padding-control: 1.5rem;
}

/***************************************@Reset********************************************************/

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::affter,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  margin: 0;
  font-family: var(--font-family);
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
  text-align: justify;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/***************************************@Components********************************************************/
/*@@@@BTN@@@@*/

.btn {
  display: inline-block;
  text-align: center;
  width: 7rem;
  padding: 0.3rem;
  letter-spacing: 2px;
  font-weight: 500;
  border: 0.13rem solid var(--black-color);
  transition: all 0.5s ease;
  &:hover {
    background: var(--black-color);
    color: var(--withe-color);
  }
}

.titel {
  position: relative;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 3rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5rem;
    height: 0.3rem;
    background: var(--black-color);
  }
}

/***************************************@Style Sites********************************************************/

/*@@@@MAIN@@@@*/
.main {
  width: 100%;
  max-width: var(--max-width);
}

/*@@@@HEADER@@@@*/

.header {
  background: var(--withe-color);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  z-index: 20;
}

.header-contenedor {
  justify-content: space-between;
  padding: 0 var(--padding-control);
}

.header-logo {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.header-menu-icons {
  cursor: pointer;
}

.header-menu {
  position: fixed;
  top: 2.2rem;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background: var(--withe-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in;
  z-index: 20;
}

.header-menu-items {
  font-size: 300;
}

/*@@@@HERO@@@@*/
.hero {
  width: 100%;
  max-width: var(--max-width);
  height: 100vh;
}
.hero-img {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.hero-img-content {
  width: clamp(200px, 70%, 400px);
  text-align: center;
  padding: 3rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--withe-color);
}

.hero-titel {
  font-weight: 500;
  letter-spacing: 1px;
}

.hero-sub-titel {
  font-weight: 200;
  letter-spacing: 3px;
}

/*@@@@ABOUT@@@@*/

.about {
  margin-top: 6rem;
  width: 100%;
}

.about-container {
  flex-direction: column;
  width: 100%;
}

.about-content {
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.about-descript {
  width: max(100%, 50%);
  margin: 0;
  text-align: justify;
}

.about-img {
  height: 100%;
  img {
    height: 100%;
    object-fit: cover;
  }
}

/*@@@@POST@@@@*/

.post {
  margin-top: 6rem;
}

.post-grid {
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, 250px);
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.post-card {
  position: relative;
  &:hover > .post-card-content {
    opacity: 1;
    pointer-events: stroke;
  }
}

.post-card-content {
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: var(--withe-alpha-color);
  opacity: 0;
  pointer-events: none;
}

.post-card-descript {
  font-size: clamp(0.2rem, 0.8rem, 1.5rem);
}

.post-card-img {
  height: 100%;
  object-fit: cover;
}

/*@@@@CONTACT@@@@*/
.contact {
  width: 100%;
  margin-top: 2rem;
}

.contact-content {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contact-description {
  text-align: center;
}

.contact-form {
  width: clamp(200px, 100%, 650px);
  margin: 2rem 0 1rem 0;
  gap: 1rem;
  input {
    padding-left: 1rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0.1rem solid var(--black-color);
  }
  textarea {
    resize: none;
    border: 0.1rem solid var(--black-color);
  }
}

@media screen and (min-width: 600px) {
  .contact-form {
    input {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .text-area-span {
    grid-column: span 2;
  }
}

/*@@@@FOOTER@@@@*/
.footer {
  margin-top: 2rem;
  background: var(--grey-withe-color);
}
.footer-titel {
  padding-top: 2rem;
}
.footer-nav {
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-final {
  padding: 2rem 0;
  text-align: center;
  small {
    font-weight: 300;
    letter-spacing: 1.6px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-nav {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}

/***************************************@Utilitys********************************************************/

.flex {
  display: flex;
}

.border {
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}

.active {
  opacity: 1;
  pointer-events: stroke;
}

.padding-control {
  padding: 0 var(--padding-control);
}

.p-thins {
  font-weight: 400;
}

.p-left {
  text-align: left;
}

.btn-black {
  background: var(--black-color);
  color: var(--withe-color);
}

.grid-column-2 {
  grid-column: span 2;
}

.grid-row-2 {
  grid-row: span 2;
}

@media screen and (max-width: 780px) {
  .grid-row-2 {
    grid-row: span 1;
  }
}

@media screen and (min-width: 1024px) {
  .lg-screen {
    width: 100%;
    min-height: 100vh;
  }
}
